{% extends "layout.html" %}
{% block content %}
<br><br><br>
<center>
<main role="main" class="inner cover">
    <h1 class="cover-heading">Terima Kasih atas Saran Anda</h1>
    <p class="lead">Kami sangat menghargai waktu yang Anda berikan untuk memikirkannya dan kami merasa ini sangat membantu. <br>Dengan senang hati kami memberi tahu Anda bahwa kami telah memutuskan untuk mempertimbangkan saran Anda. <br>Dengan saran Anda membantu kami untuk terus meningkat. <br>Tolong jangan ragu untuk berbagi pemikiran Anda di masa depan.</p>
    <p class="lead">
      <a href="{{ url_for('home') }}" class="btn btn-lg btn-secondary">Home</a>
    </p>
  </main>
</center>
{% endblock content %}