{% extends "layout.html" %}
{% block content %}
<center>
<div class="jumbotron">
        <h1 class="display-4">Natural Languange Processing</h1>
        <p class="lead">NLP adalah cabang ilmu komputer dan linguistik yang mengkaji interaksi antara komputer dengan bahasa (alami) manusia.</p>
        <hr class="my-4">
        <p>Tujuan utama dari studi NLP adalah membuat mesin yang mampu mengerti dan memahami makna bahasa manusia lalu memberikan respon yang sesuai..</p>
        <a class="btn btn-primary btn-lg" href="https://en.wikipedia.org/wiki/Natural_language_processing" target="_blank" role="button">Learn more</a>
      </div>
    </center>
{% endblock content %}